Flows Node Red/flows dashboard.json
[{"id":"28ee62afe6727ea5","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"8ad90842b9b36e9e","type":"mqtt in","z":"28ee62afe6727ea5","name":"","topic":"carlos/rafael/iot","qos":"2","datatype":"auto-detect","broker":"b3fc704e3060ea0d","x":120,"y":260,"wires":[["226f9f18a6afc487","61706573.c9fe6c"]]},{"id":"226f9f18a6afc487","type":"function","z":"28ee62afe6727ea5","name":"","func":"\nlet msgCount = context.get(\"msgCount\") || 0;//get remembered count\nlet countMessage = \"\";\nif (msg.payload) {\n    msgCount++; \n}\n\ncountMessage = \"Count of payload 1: \" + msgCount;\n\ncontext.set(\"msgCount\", msgCount); \nnode.status(countMessage);\nlet msgWithCount = { payload: countMessage };\n\nmsg.payload = msgCount;\n\nreturn msg;\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["fe81d9ce6547276c"],[]]},{"id":"abb38b0b474b9a44","type":"ui_text","z":"28ee62afe6727ea5","group":"3cf8c021b88a40c0","order":1,"width":0,"height":0,"name":"","label":"TAG Atual","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":180,"wires":[]},{"id":"fe81d9ce6547276c","type":"ui_gauge","z":"28ee62afe6727ea5","name":"","group":"3cf8c021b88a40c0","order":1,"width":0,"height":0,"gtype":"gage","title":"Usos do Sistema","label":"Quantidade de Usos","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":490,"y":340,"wires":[]},{"id":"61706573.c9fe6c","type":"json","z":"28ee62afe6727ea5","name":"","property":"payload","action":"","pretty":false,"x":290,"y":180,"wires":[["80911448.6a0fd8","d01d4512.a53b98"]]},{"id":"816c2ca1.4df9f","type":"ui_text","z":"28ee62afe6727ea5","group":"3cf8c021b88a40c0","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":850,"y":260,"wires":[]},{"id":"80911448.6a0fd8","type":"change","z":"28ee62afe6727ea5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["db42b323.fd48f"]]},{"id":"db42b323.fd48f","type":"function","z":"28ee62afe6727ea5","name":"Aberto/Fechado","func":"if(msg.payload == 90) {\n    msg.payload = \"Fechado\";\n}\nif(msg.payload == 0 || msg.payload == -1) {\n   msg.payload = \"Aberto\";  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["816c2ca1.4df9f"]]},{"id":"d01d4512.a53b98","type":"change","z":"28ee62afe6727ea5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tagid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["abb38b0b474b9a44"]]},{"id":"b3fc704e3060ea0d","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3cf8c021b88a40c0","type":"ui_group","name":"TAG ID","tab":"25e2bfc55dd7ce5f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25e2bfc55dd7ce5f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]